.Home {
    text-align: center;
  }
  
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .initial-header {
    padding: 80px;
    background-color: rgb(7, 189, 119);
    color: white;
    margin: 0;
    
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
  }
  .navbar a:hover { color: #00FF00;}
  .navbar a.right {
    float: right;
  }
  .Home-header {
    background-color: #0a59c094;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  .Home-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  